#root.root {--accent: red;}
#root.root {--tabs-font: ;}
#root.root {--tabs-height: 45px;}
#root.root {--tabs-margin: 0px;}
#root.root {--tabs-inner-gap: 5px;}
#root.root {--general-border-radius: 12px;}

#root.root {--nav-btn-active-shadow: none;}
#root.root {--nav-btn-height: 30px;}
#root.root {--general-margin: 5px;}
#root.root {--frame-bg: #f9f9fb;}
#root.root {--toolbar-bg: #f9f9fb;}
#sidebar-header {display: none;}

.top-shadow {
display: none
}

/* #root:not(:hover){
  --tabs-indent: 0;
  --tabs-lvl-opacity: 0;
#root.root {--toolbar-bg: #e3dfdd;}
} */

.len {
opacity: 1 !important;
text-shadow: none;
}

.top-horizontal-box .audio {
display: none
}

.Tab {
font-size: 14px;
text-allign: center;
margin-left: 5px;
padding-right: 10px;

margin-top: 0px;
margin-bottom: 0px;
}

.Tab[data-discarded="true"] > .body > .fav,
.Tab[data-discarded="true"] > .body > .t-box {
    opacity: 1;
}

/* .Tab-icon {
	width: 18px;
	height: 18px;
} */

