@media (-moz-platform: windows), (-moz-platform: windows-win10) {
  :root[tabsintitlebar] {
    --uc-window-control-width: 137px;
  }
  #back-button {
    margin-top: -0.5px !important;
  }
  #forward-button {
    margin-top: -0.5px !important;
  }
  #reload-button {
    margin-top: -0.5px !important;
  }
  #PanelUI-button {
    margin-top: -0.5px !important;
  }
  #nav-bar-overflow-button {
    margin-top: -0.5px !important;
  }
  :root {
    --uc-toolbar-height: 32px;
    --chrome-content-separator-color: none !important;
  }
  :root:not([uidensity='compact']) {
    --uc-toolbar-height: 38px;
  }
  #TabsToolbar {
    visibility: collapse !important;
  }
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }
  :root:not([sizemode='maximized']) .titlebar-buttonbox-container {
    margin-top: 3px;
  }
  :root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height));
    z-index: 2;
  }
  #toolbar-menubar {
    min-height: unset !important;
    height: var(--uc-toolbar-height) !important;
    position: relative;
  }
  .titlebar-buttonbox {
    z-index: 3 !important;
  }
  .titlebar-buttonbox * {
    width: 35px;
    height: 38px;
  }
  #main-menubar {
    -moz-box-flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(
        to left,
        transparent,
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px
      )
      20/30px;
  }
  #toolbar-menubar:not([inactive]) {
    z-index: 2;
  }
  #toolbar-menubar[inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width, 0);
  }
  :root[inFullscreen] #nav-bar {
    border-right: none !important;
  }
}

#nav-bar {
  border-right: none !important;
  margin-right: 120px !important;
}

#navigator-toolbox {
  background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) !important;
}

/* sidebery: */

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none;
}

#sidebar-box {
  min-width: 346px !important;
  max-width: 346px !important;
}
